# inside server folder, rename .env.example to .env and fill in the values:
PORT=5000
NODE_ENV =
EMAIL =
EMAIL_PASS =
JWT_ACCESS_KEY=
MONGO_URI =
CLIENT_URL=
DOTENV_CONFIG_SILENT=true/false
# Multiple origins separated by commas
CLIENT_URL=


#inside client folder, rename .env.example to .env and fill in the values:
VITE_BASE_BACK_URL=
VITE_MAIL_LINK=
